{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    <form action="{{ path('app_login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="username">Username</label>
        <input type="text" id="username" name="email" value="{{ last_username }}" required autofocus>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    {# Afficher l'erreur si l'authentification échoue #}
    {% if error %}
        <div class="error">
            <p>Erreur d'authentification : {{ error.messageKey | trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
{% endblock %}
