<!DOCTYPE html>
<html>
<body>
    <h1>Liste des utilisateurs :</h1>
    <ul>
        {% for user in users %}
            <li>
                <strong>Nom:</strong> {{ user.name }} - 
                <strong>Email:</strong> {{ user.email }} - 
                <strong>Role:</strong> {{ user.role }}
            </li>
        {% else %}
            <li>Aucun utilisateur trouvé.</li>
        {% endfor %}
    </ul>
</body>
</html>
